.wrapper {
  /* Default variables */
  --size: 70;
  --border: 8;
  --column: 40;
  --transition: 0.18;
  --ease: ease-out;
  --movement: 0.72;
  --offset: -3;
}

.container {
  align-items: center;
  display: flex;
  gap: calc(var(--size) * 0.5px);
  position: relative;
}

/* Masking Logic */
.wrapper[data-ltr='true'] .items li:not(:first-of-type) .avatarHolder {
  --rad-x: calc(
    var(--circle) - (var(--column) * 1px) - (var(--border) * 1px)
  );
}

.wrapper[data-ltr='false'] .items li:not(:last-of-type) .avatarHolder {
  --rad-x: calc(
    var(--circle) + (var(--column) * 1px) - (var(--border) * 1px)
  );
}

.wrapper[data-ltr='true'] .items li:not(:first-of-type) .avatarHolder,
.wrapper[data-ltr='false'] .items li:not(:last-of-type) .avatarHolder {
  --circle: calc(((var(--border) * 2px) + (var(--size) * 1px)) * 0.5);
  -webkit-mask-image: radial-gradient(
    var(--circle) var(--circle) at var(--rad-x, 0) 50%,
    #0000 calc(var(--circle) - 0.5px),
    #fff var(--circle)
  );
  mask-image: radial-gradient(
    var(--circle) var(--circle) at var(--rad-x, 0) 50%,
    #0000 calc(var(--circle) - 0.5px),
    #fff var(--circle)
  );
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-position: 0 calc(var(--size) * 1px);
  mask-position: 0 calc(var(--size) * 1px);
  transition: mask-position calc(var(--transition) * 1s) var(--ease), -webkit-mask-position calc(var(--transition) * 1s) var(--ease);
}

.wrapper[data-ltr='true'] .items li:hover + li .avatarHolder,
.wrapper[data-ltr='false'] .items li:has(+ li:hover) .avatarHolder {
  -webkit-mask-position: 0 calc(var(--size) * ((1 - var(--movement)) * 1px));
  mask-position: 0 calc(var(--size) * ((1 - var(--movement)) * 1px));
}

.items li {
  position: relative;
  pointer-events: none;
}

.items li::before {
  content: '';
  width: 100%;
  aspect-ratio: 1;
  bottom: 0;
  position: absolute;
  pointer-events: all;
}

.items li .avatar {
  pointer-events: all;
  transition: transform calc(var(--transition) * 1s) var(--ease);
}

.items li:hover .avatar {
  transform: translate(0, calc(var(--movement) * -100%));
}

/* Ringed Text Logic */
.wrapper[data-ringed='true'] .items li:hover .name span {
  transform: translate(0, 0);
}

.wrapper[data-ringed='true'] .items li .name {
  width: calc(var(--size) * 1px);
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0;
  transform: translate(-50%, calc(var(--movement) * -100%));
}

.wrapper[data-ringed='true'] .items li .name span {
  offset-path: border-box;
  offset-distance: calc((var(--offset) + var(--i)) * 1ch);
  offset-anchor: 50% 150%;
  position: absolute;
  transition: transform calc(var(--transition) * 1s) var(--ease);
  transform: translate(0, 100%);
}

.wrapper[data-ringed='false'] .items li:hover .name {
  transform: translate(-50%, -50%);
}

.wrapper[data-ringed='false'] .items li .name {
  bottom: calc((var(--size) * (1 + var(--movement))) * 1px);
  transform: translate(-50%, 50%);
}

.wrapper[data-ringed='false'] .items li .name span {
  transform: translate(0, -150%);
}

/* Items Grid Layout */
.items {
  align-content: end;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(var(--column) * 1px);
  height: calc(var(--column) * 1px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  transform: translate(calc((var(--size) - var(--column)) * 0.5px), 0);
}

.items li {
  align-content: end;
  aspect-ratio: 1 / 3;
  display: grid;
  position: relative;
  width: calc(var(--size) * 1px);
  transform: translate(
    calc((var(--size) - var(--column)) * -0.5px),
    calc((var(--size) - var(--column)) * 0.5px)
  );
}

.items li .avatarHolder {
  position: absolute;
  inset: 0;
  align-content: end;
  display: grid;
}

.items li:nth-of-type(1) img {
  filter: contrast(1.2);
}

.items li:hover .name {
  filter: blur(0px);
  opacity: 1;
}

.items li .name {
  transition-property: filter, opacity, transform;
  transition-timing-function: var(--ease);
  transition-duration: calc(var(--transition) * 1s);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-family: monospace;
  position: absolute;
  left: 50%;
  filter: blur(4px);
  opacity: 0;
  color: currentColor;
  pointer-events: none;
}

.items li .avatar {
  display: inline-block;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.items li .avatar img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #888;
}
